<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/Modimal1/components/Footer/footer.css" rel="stylesheet">
</head>
<body>
    <footer>
        
        <div class="footer-container">
            <div class="footer-left">
                <h3>Join our club, get 15% off for your Birthday</h3>
        
                <div class="email">
                    <input  class="email_input" type="email" placeholder="Enter Your Email Address">
                    <span class="material-symbols-outlined email_btn">arrow_forward</span>
                </div>
        
                <input id="chedckmark-aproval" type="checkbox">
                <label for="chedckmark-aproval"> By Submittng your email, you agree to receive advertising emails from Modimal.</label>
            
            </div>
        
            <div class="footer-right">
        
                <ul>
                    <h4>About Modimal</h4>
                    <li><a href="#">Collection</a></li>
                    <li><a href="#">Sustainability</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Support System</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Copyright Notice</a></li>
                </ul>
                <ul>
                    <h4>Help & Support</h4>
                    <li><a href="#">Orders & Shipping</a></li>
                    <li><a href="#">Returns & Refunds</a></li>
                    <li><a href="#">FAQs</a></li>
        
                </ul>
                <ul>
                    <h4>Join Up</h4>
                    <li><a href="#">Modimal Club</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Visit Us</a></li>
                </ul>
        
            </div>
        </div>

        <div class="footer-span">

            <div class="footer-span-l">
                <div class="social-midia">
                    <img src="/Modimal1/assets/img/Social media.png" alt="">
                    <img src="/Modimal1/assets/img/Social media-1.png" alt="">
                    <img src="/Modimal1/assets/img/Social media-2.png" alt="">
                    <img src="/Modimal1/assets/img/Social media-3.png" alt="">
                </div>
    
                <p>© 2023 modimal. All Rights Reserved.</p>

            </div>
            
            <div class="footer-span-r">
                <img class="chat-box" src="/Modimal1/assets/img/Footer Chat box.png" alt="">
            </div>
            
        </div>

    </footer>
</body>
</html>