.container-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-large);
}

.container_left-card {
    position: relative;
}

.container_left-card img{
    width: 100%;
}

.container_left-btn {
    position: absolute;
    right: var(--spacing-large);
    bottom: var(--spacing-large);
    padding: var(--spacing-smaller) var(--spacing-large);
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

@media (max-width: 786px) {
    .container_left-btn {
        position: static;
        width: 100%;
        text-align: left;
        padding: auto;
    }
}