<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Modimal1/components/Header/header.css">
</head>
<body>

    <header>
        <div class="header-green">Enjoy Free Shipping On All Orders</div>
        
        <div class="header-nav">    
            <a href="/Modimal1/index.html">
                <div class="logo">
                    <div class="logo_title">
                            <p>modimal</p>
                            <img src="/Modimal1/assets/img/logo/Subtract.svg" alt="Icone verde de uma folha de arvore">
                        </div>
                        <p class="logo_subtitle">women clothing</p>
                </div>
            </a>

            <nav>
                <ul>
                    <li><a class="header_nav-item" href="#">Collection</a></li>
                    <li><a class="header_nav-item" href="#">New In</a></li>
                    <li><a class="header_nav-item" href="#">Modiweek</a></li>
                    <li><a class="header_nav-item" href="#">Plus Size</a></li>
                    <li><a class="header_nav-item" href="#">Sustainability</a></li>
                </ul>
            </nav>


            <div class="header-nav_options">
                <span class="material-symbols-outlined header-nav-options_icon">search</span>
                <a href="/Modimal1/pages/Register/register.html">
                    <span class="material-symbols-outlined header-nav-options_icon">person</span>
                </a>
                <span class="material-symbols-outlined header-nav-options_icon">favorite</span>
                <span class="material-symbols-outlined header-nav-options_icon">shopping_bag</span>
            </div>
        </div>
    </header>
    
</body>
</html>