.NavBarItem {
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
}

.NavBarItem:hover {
    color: #4d4a4a;
}


@media (max-width: 678px) {
    .NavBarItem {
        color: var(--color-white);
        padding: 10px 0;
    }

    .NavBarItem:nth-child(2n){
        background-color: #5e5e5e;
    }
}