footer {
    background-color: #252525;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}


@media (max-width: 393px) {
    footer {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }
}